.button {
  /* background: #6c5dd3; */
  border-radius: 16px;
  color: #fff;
  border: none;
  height: 40px;
  width: 190px;


  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  color: #ffffff;
}
