.App {
  height: 100vh;
  width: 100vw;
}

.navigation-container{
  height: 100vh;
  width: 256px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  color: #fff;
  background: #0C1629;
}

.dash-main-container { 
  width: calc(100vw - 256px);
  position: absolute;
  right: 0%;
  top:0%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.dash-section{
  height: 50%;
  width:50%;
}

.section-header {
  text-align: center;
}