@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter/static/Inter-Medium.ttf);
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}
.App {
  height: 100vh;
  width: 100vw;
}

.navigation-container {
  height: 100vh;
  width: 256px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  color: #fff;
  background: #0c1629;
}

.dash-main-container {
  width: calc(100vw - 256px);
  position: absolute;
  right: 0%;
  top: 0%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.dash-section {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.section-header {
  text-align: center;
  margin: 72px;
}

.buttons-container {
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .navigation-container {
    display: none;
  }
  .dash-main-container {
    width: 100vw;
  }
}
